## Pandas Indexing and Subsetting

This notebooks focuses on understanding indexing and subsetting in Pandas dataframes.

1. How to define a dataframe using a dictionary.
2. How to set index and use access attributes of a dataframe.
3. How to access specific and slices of rows and columns of a dataframe.

In [1]:
import numpy as np
import pandas as pd
import random
import string

In [2]:
##create a dictionary that stores 
##students' roll number, math, physics & chem scores.

scores_dict = {
    'id': [''.join(random.choices(
        string.ascii_uppercase + string.digits, k=5)
                 ) for _ in range(30)],
    'roll': np.arange(30) + 1,
    'math_scores': np.random.randint(100, size=(30)),
    'physics_scores': np.random.randint(100, size=(30)),
    'chemistry_scores': np.random.randint(100, size=(30))
}

print(scores_dict)

{'id': ['XHDTU', 'YVA1X', '75UFK', 'VDQHL', '9NYPU', 'MZNV5', '4MN5P', 'DN5OJ', 'RPQAE', 'NXSUO', 'HST7M', '3U34O', 'IEHNX', '776U2', 'QL6UT', 'P0DXA', 'CQ42I', '0NIXT', '55BI0', '9Y6QJ', 'TSFFN', '54M8L', 'ILD95', '1X3OM', '6J1ZW', 'W7B34', 'V4FZ6', 'IV0CP', '6QXX6', '6HZH9'], 'roll': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]), 'math_scores': array([81,  5, 23, 76, 29, 23, 63, 75, 93, 71, 48, 74, 86, 93, 44, 62, 27,
       12, 46, 33, 19,  9, 33, 16, 78, 70, 64,  6, 72, 57], dtype=int32), 'physics_scores': array([90,  2,  3, 91, 58, 25, 45, 14, 41, 99, 11, 72, 12, 10, 42, 77, 36,
       24,  7, 81, 95, 29,  2, 26, 32, 71,  9, 19, 21, 93], dtype=int32), 'chemistry_scores': array([77, 74, 81, 41, 33, 85, 76, 50, 78, 33, 90, 36, 15, 25,  7, 68, 77,
       65, 63, 31, 99,  2, 26, 25, 70, 70, 61, 33, 21, 13], dtype=int32)}

In [3]:
##convert the scores_dict to a pandas dataframe

df = pd.DataFrame(scores_dict)
df.head()

      id  roll  math_scores  physics_scores  chemistry_scores
0  XHDTU     1           81              90                77
1  YVA1X     2            5               2                74
2  75UFK     3           23               3                81
3  VDQHL     4           76              91                41
4  9NYPU     5           29              58                33

In [4]:
##make id column the index of the dataframe

df = df.set_index('id')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, XHDTU to 6HZH9
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   roll              30 non-null     int64
 1   math_scores       30 non-null     int32
 2   physics_scores    30 non-null     int32
 3   chemistry_scores  30 non-null     int32
dtypes: int32(3), int64(1)
memory usage: 840.0+ bytes

In [5]:
##access individual columns
df['math_scores']

id
XHDTU    81
YVA1X     5
75UFK    23
VDQHL    76
9NYPU    29
MZNV5    23
4MN5P    63
DN5OJ    75
RPQAE    93
NXSUO    71
HST7M    48
3U34O    74
IEHNX    86
776U2    93
QL6UT    44
P0DXA    62
CQ42I    27
0NIXT    12
55BI0    46
9Y6QJ    33
TSFFN    19
54M8L     9
ILD95    33
1X3OM    16
6J1ZW    78
W7B34    70
V4FZ6    64
IV0CP     6
6QXX6    72
6HZH9    57
Name: math_scores, dtype: int32

In [8]:
##dataframe as a 2d array
df.values[0]

array([ 1, 81, 90, 77])

## Indexers in Pandas - iloc and loc

In [9]:
##access the 10th row
df.iloc[10]

roll                11
math_scores         48
physics_scores      11
chemistry_scores    90
Name: HST7M, dtype: int64

In [10]:
##access only math scores for the 10th row
df.iloc[10, 1]

np.int32(48)

In [11]:
##access the first 5 rows of the first 2 columns
df.iloc[:5, :2]

       roll  math_scores
id
XHDTU     1           81
YVA1X     2            5
75UFK     3           23
VDQHL     4           76
9NYPU     5           29

In [15]:
##access values using labels
df.loc['YVA1X':, 'physics_scores']

id
YVA1X     2
75UFK     3
VDQHL    91
9NYPU    58
MZNV5    25
4MN5P    45
DN5OJ    14
RPQAE    41
NXSUO    99
HST7M    11
3U34O    72
IEHNX    12
776U2    10
QL6UT    42
P0DXA    77
CQ42I    36
0NIXT    24
55BI0     7
9Y6QJ    81
TSFFN    95
54M8L    29
ILD95     2
1X3OM    26
6J1ZW    32
W7B34    71
V4FZ6     9
IV0CP    19
6QXX6    21
6HZH9    93
Name: physics_scores, dtype: int32